* {
    margin: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Estilização do cabeçalho */
.header{
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    margin: auto;
    position: relative;
    z-index: 2;
}
.text__header{
    color: #eee;
    margin-right: 40px;
    font-weight: 500;
}

/* Estilização da pafina principal */
body{
    background-color: #000;
    color: #eee;
    font-size: 12px;
    overflow: hidden;
}

.container{
    width: 100vw;
    height: 100vh;
    margin-top: -50px;
}

.container .list .list__item{
    width: 100%;
    height: 100%;
    position: absolute;
}

.container .list .list__item img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}
/*.list__item.active {
    display: block; 
}
.list__item {
    display: none; 
} Pesquisar sobre como ativar os elementos só depois de a função ser utilizada*/



.container .list .list__item .content{
    position: absolute;
    top: 20%;
    right: 10%;
    padding-right: 30%;
    width: 80%;
    text-shadow: 0px 5px 10px #0004;
}

.container .list .list__item .title{
    font-size: 5em;
    font-weight: 700;
    line-height: 1.5em;
}

.container .list .list__item .description{
    font-size: 1.5em;
}

.container .list .list__item .bottons{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    margin-top: 20px;
    gap: 8px;
}

.container .list .list__item .bottons button{
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
}

.container .list .list__item .bottons button:hover{
    background-color: transparent;
    border: solid 1px #eee;
    color: #eee;
    transition: 0.7s;
}

.container .list .list__item .bottons button:nth-child(2){
    background-color: transparent;
    border: solid 1px #eee;
    color: #eee;
}

.container .list .list__item .bottons button:nth-child(2):hover{
    background-color: #eee;
    color: #000;
    transition: 0.7s;
}

/* Estilização do Carrosel */

.container .thumb{
    position: absolute;
    bottom: 50px;
    left: 50%;
    display: flex;
    gap: 20px;
}

.container .thumb .thumb__item{
    width: 135px;
    height: 200px;
    position: relative;
    z-index: 3;
    cursor: pointer;
}

.container .thumb .thumb__item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(80%);
}


.container .thumb .thumb__item.active {
    border: 2px solid #000; 
}

.container .thumb .content{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.container .arrows{
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 120px;
    left: 120px;
    width: 300px;
}

.container .arrows button{
    border-radius: 10px;
    border: none;
    padding: 12px 17px;
    background-color: #eee4;
    color: #eee;
    font-weight: 700;
    font-size: 1.5em;
    cursor: pointer;
}

.container .arrows button:hover{
    background-color: transparent;
    border: solid 1px #eee;
    color: #eee;
    transition: 0.7s;
}

/* Movimento Thumb*/

.container.next .thumb{
   animation: effectNextThumb 0.5s linear 1 forwards ;
}

@keyframes effectNextThumb {
    from{
        transform: translateX(150px);
    }
    
}

/*Vizulaização última thumb*/

.container.next .thumb .thumb__item:nth-last-child(1){
    animation: effectLastThumb 0.5S linear 1 forwards;
}

@keyframes effectLastThumb {
    from{
        width: 0;
        opacity: 0;
    }
}


/*Animação do texto*/

.container .list .list__item:nth-last-child(1) .content .title,
.container .list .list__item:nth-last-child(1) .content .description,
.container .list .list__item:nth-last-child(1) .content .bottons{
    transform: translateY(50px);
    filter: blur(20px );
    opacity: 0;
    animation:effectText 0.5s 1s linear 1 forwards ;
}

@keyframes effectText {
    to{
        transform: translateY(0);
        filter: blur(0 );
        opacity: 1;
        
    }
    
}

.container .list .list__item:nth-last-child(1) .content .title{
    animation-delay: 1.3s;
}

.container .list .list__item:nth-last-child(1) .content .description{
    animation-delay: 1.8s;
}

.container .list .list__item:nth-last-child(1) .content .bottons{
    animation-delay: 2.5s;
}

.container.next .list .list__item:nth-last-child(1) img{
    width: 135px;
    height: 200px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation:effectNextImg 0.5s linear 1 forwards ;
}

@keyframes effectNextImg {
    to{
        bottom: 0;
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

.container.back .list .list__item:nth-child(1) img{
    position: absolute;
    bottom: 0;
    left: 0;
    animation: effectBackImg  0.5s linear 1 forwards ;
    z-index: 2;
}

@keyframes effectBackImg {
    to {
        width: 135px;
        height: 200px;
        border-radius: 10px;
        left: 50%;
        bottom: 50px;
    }
}